$color: steelblue;

// .my-flix {
//   color: $color;
// }

html, body{
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(67,67,67,1) 35%);
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

.btn{
  background-color: #8E0E00;
}

.btn:hover{
  background-color: black !important;
}

.app-name{
  color: #8E0E00;
  font-weight: bold;
}