# Ignore all text files
*.txt

# # Dependency directories
node_modules/

# # Ignored projects
**/ComfyEssentials/*
**/OnlineNotepad/*
**/PortfolioWebsite/*
portfolio/RideshareFinder
portfolio/ToDoListApp