/*---------------------------
/* Basic Setup */
/* --------------------------- */
/* Body */
* { 
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

*:focus{ outline: none; }

html{  
  background-color: #fff;
  color: #555;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;    
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

/* Row Elements */
.row{
  max-width: 100%;
  margin: 0 auto;
}

.box{ padding: 1%; }

/* Section Elements */
section{ padding: 80px 0;}

/* Header Elements */
h1, h2, h3{
  font-weight: 300;
  text-transform: uppercase;  
}

h1, h2{ letter-spacing: 1px;}

/* Link Elements */
a:link, a:active{
  color: #e67e22;
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  -webkit-transition: border-bottom 0.2s color 0.2s;
  transition: border-bottom 0.2s color 0.2s;
}

a:hover, a:visited{
  color: #555;
  padding-bottom: 1px;
  text-decoration: none;
  -webkit-border-bottom: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

/* Button Elements */
.btn:link, .btn:visited, input[type=submit]{
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;  
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  margin-right: 15px;
}

.btn-full:link, .btn-full:visited, input[type=submit]{
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: white;
}

.btn-ghost:link, .btn-ghost:visited{
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn-full:hover, .btn-full:active, input[type=submit]:hover, input[type=submit]:active{
  border: 1px solid #e67e22;
  background-color: white;
  color: #e67e22;
  cursor: pointer;
}

.btn-ghost:hover, .btn-ghost:active{
  border: 1px solid white;
  color: white;
}

/* Clear Float after elements */
.clearfix{ zoom: 1; }

.clearfix{
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* --------------------------- */
/* Intro */
/* --------------------------- */
.logo, .hero-text-box{
  position: absolute;
  left: 10%;
}

.backgroundImage{
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/hero.jpg);
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* --------------------------- */
/* Main Navigation Bar */
/* --------------------------- */
.logo{
  height: 100px;
  width: auto;
  /* margin-top: 15px; */
  float: left;
  margin-left: 20px;
}

.logo-black{
  height: 50px;
  width: auto;
  float: left;
  /* margin-left: 100px; */
  margin: 5px 0 5px 100px;
  display: none;
}

.main-nav{
  float: right;
  list-style: none;
  margin-top: 55px;
  display: none;
}

.main-nav li{
  display: inline-block;
  margin-left: 40px;
}

.dropdown-content{
  float: right;
  list-style: none;
  margin-top: 10%;  
  /*margin-left: 200px;  */
  display: none;
}

.dropdown-content li{
  display: block;
  margin-left: 40px;
  font-size: 150%;
  margin-bottom: 10%;
}

.main-nav li a:link, .main-nav li a:visited, .dropdown-content li a:link, .dropdown-content li a:visited{
  padding: 8px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active{ border-bottom: 2px solid #eb7610; }

.dropdown-content li a:hover, .dropdown-content li a:active{
  color: #eb7610;
}

/* --------------------------- */
/* Mobile Navigation Bar */
/* --------------------------- */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon ion-icon {
    font-size: 300%;
    color: #fff;
}

/* --------------------------- */
/* Sticky Navigation Bar */
/* --------------------------- */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    margin-bottom:30px;
}

.sticky .main-nav { margin-top: 18px; margin-bottom:30px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding-bottom: 22px;
    color: #555;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

/* --------------------------- */
/* Header */
/* --------------------------- */
header{
  height: 100vh;
}

.hero-text-box{  
  width: 100%;
  top: 40%;  
}

.intro-header{
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  font-size: 240%; 
  word-spacing: 4px;
}


/* --------------------------- */
/* Features */
/* --------------------------- */
.features-header{
  font-size: 180%;  
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;  
}

.features-header:after{
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.section-features .long-copy{
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 30px;
}

.icon-big{
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.features-detail{
  font-size: 110%;
  margin-bottom: 15px;
}

.features-paragraph{
  font-size: 90%;
  line-height: 145%;
}

/* --------------------------- */
/* Favorite Meals */
/* --------------------------- */
.section-meals{
  padding: 0;
}
.meals-showcase{
  list-style: none;
  width: 100%;
}

.meals-showcase li{
  display: block;
  float: left;
  width: 25%;
  
}

.meal-photo{
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.meal-photo img{
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: transform 0.5s opacity 0.5s;
  transition: transform 0.5s opacity 0.5s;
}

.meal-photo img:hover{
  opacity: 1;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* --------------------------- */
/* How It Works */
/* --------------------------- */
.section-steps{
  background-color: black;
  color: white;
}

.section-steps-header{
  text-align: center;
}

.section-steps-header:after{
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

steps-box:first-child{
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

 steps-box:last-child{
  padding-left: 3%;
  margin-top: 70px;
} 

.app-screen{
  height: 400px;
  width: auto;
}

.works-step{
  margin-bottom: 50px;
}

.works-step:last-of-type{
  margin-bottom: 80px;
}

.works-step div{
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app:link, .btn-app:visited{
  border: 0;
}

.btn-app img{
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* --------------------------- */
/* Cities */
/* --------------------------- */
.section-cities-header{
  text-align: center;
}

.section-cities-header:after{
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.box img{
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature{
  margin-bottom: 5px;
}

.cities-detail{
  font-size: 110%;
  margin-bottom: 15px;
}

.icon-small{
  display: inline-block;
  width: 20px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 5px;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* --------------------------- */
/* Customer Testimonials */
/* --------------------------- */
.section-testimonials{
    background-image: -webkit-linear-gradient-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/back-customers3.jpg);
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/back-customers3.jpg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

.testimonials-header{
  text-align: center;
}

.testimonials-header:after{
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* --------------------------- */
/* Sign Up and Plans */
/* --------------------------- */
.section-plans{
  background-color: #f4f4f4;  
}

.plans-header{
  text-align: center;
}

.plans-header:after{
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.btn-light:link, .btn-light:visited{
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn-light:hover, .btn-light:active{
  border: 1px solid #e67e22;
  background-color: #e67e22;
  color: white;
}

.plan-box{
  background-color: white;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
}

.plan-box div{
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 2px 2px #efefef;
}

.plan-box div:first-child{
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.plan-box div:last-child{
  text-align: center;
  border: none;
}

.plan-price{
  font-size: 300%;
  margin-bottom: 10px;
  color: #e67e22;
}

.plan-price span{
  font-size: 30%;
}

.plan-price-meal{
  font-size: 80%;
}

.plan-box ul{
  list-style: none;  
}

.plan-box ul li{
  padding: 5px 0;
}

.icon-red{
  display: inline-block;
  width: 20px;
  text-align: center;
  color: red;
  font-size: 120%;
  margin-right: 5px;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* --------------------------- */
/* Contact Form */
/* --------------------------- */
.map-box{
  width: 100%;
  height: 550px;
  position: relative;
}

#map{
  width: 100%;
  height: 550px;
  position: relative;
  z-index: 0;
}

.form-box{
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  height: 550px; 
  /* padding-top: 40px; */
}

.form-header{
  text-align: center;
}

.form-header:after{
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.contact-form{
  width: 90%;
  margin: 0 auto;
}

input[type=text],input[type=email], select, textarea{
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea{
  height: 50%;
  width: 100%;
  resize: none;
}

input[type=checkbox]{
  margin: 10px 5px 10px 0;
}

.form-messages{
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;  
}

.success{ 
  background-color: rgba(38, 191, 68, 0.8); 
  color: white;
  text-align: center;
}

.error{
  background-color: rgba(209, 46, 46, 0.8); 
  color: white;
  text-align: center;
}
/* --------------------------- */
/* Footer */
/* --------------------------- */
footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.footer-nav li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/* --------------------------- */
/* Animations */
/* --------------------------- */
.js--wp-1, .js--wp-2, .js--wp-3{
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated, .js--wp-2.animated, .js--wp-3.animated{
  opacity: 1;
  
}