.nav-bar{
  background: #333333; 
background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-brand, .navbar-item{
  color: white !important;
}

.navbar-brand:hover, .navbar-item:hover{
  color: black !important;
}